USE [DB_COMPA]
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Actualizar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[p_COMPROBANTE_Actualizar]
 @ID_COMPROBANTE_PAGO int 
,@FECHA DATETIME=NULL
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_NP VARCHAR(255)=NULL
,@RAZON_SOCIAL VARCHAR(255)=NULL
,@ID_PERSONA_EMPRESA int= NULL
,@MONTO DECIMAL(10,2)=NULL
,@USUARIO VARCHAR(10)=NULL
,@ID_TIPO_PAGO int=NULL
,@COD_ARCHIVO VARCHAR(MAX)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@COD_COMPROBANTE_FIRMADO  VARCHAR(MAX)=NULL
,@NOMBRE_COMPROBANTE_FIRMADO  VARCHAR(MAX)=NULL
,@EXPEDIENTE_SITRADOC VARCHAR(50)=NULL
,@TIPO_HOJA VARCHAR(1)=NULL
,@TIPO_EXPEDIENTE VARCHAR(1)=NULL
,@ID_DEPENDENCIA int=NULL
,@EXPEDIENTE_SITRADOC2 VARCHAR(50)=NULL
,@TIPO_HOJA2 VARCHAR(1)=NULL
,@INDICADOR_OFICIO VARCHAR(50)=NULL
,@OPC VARCHAR(1)
,@COD_ARCHIVO_CONSTANCIA_PAGO  VARCHAR(MAX)=NULL
,@COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL  VARCHAR(MAX)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Actualiza la información del comprobante de pago    
*Fecha Creación: 11/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:       
-Se modifica lógica de la opción(7) para devolver CP a girador - Miguel Atarama - 24/04/2024 
-Se agregan 2 parámteros adicionales(@COD_ARCHIVO_CONSTANCIA_PAGO,@COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL) cuando se archiva un CP  - Miguel Atarama - 25/04/2024 
******************************************/      

DECLARE @ESTADO varchar(1)=''
DECLARE @idEnvio int=0
DECLARE @idDocumento int=0
DECLARE @comando nvarchar(500)
DECLARE @CODIGO INT
DECLARE @ExisteComprobante INT
DECLARE @ID_DOCUMENTO_ADJUNTO INT
DECLARE @result table (ID_DOCUMENTO INT, INDICATIVO_OFICIO VARCHAR(200), HOJA_TRAMITE VARCHAR(200));


IF @OPC = 1
BEGIN

 SELECT @ExisteComprobante = COUNT(1) FROM DAT_COMPROBANTE_PAGO WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO AND COD_COMPROBANTE_FIRMADO IS NOT NULL
  
 UPDATE DAT_COMPROBANTE_PAGO
 	SET NUMERO_SIAF = @NRO_SIAF,
		NUMERO_ORDEN_SERVICIO = @NRO_OS,
		NUMERO_ORDEN_COMPRA = @NRO_OC,
		NUMERO_NOTA_PAGO = @NRO_NP,
		ID_TIPO_GIRO = 1,
		ID_TIPO_SITUACION = 1,
		RAZON_SOCIAL = @RAZON_SOCIAL,
		ID_PERSONA_EMPRESA = @ID_PERSONA_EMPRESA,
		MOTIVO_ANULACION = NULL,
		FECHA_REGISTRO = @FECHA,
		MONTO = @MONTO,
		--ESTADO = 1,
		USUARIO = @USUARIO,
		ID_TIPO_PAGO = @ID_TIPO_PAGO,
		COD_ARCHIVO = @COD_ARCHIVO,
		DOCUMENTO_OTRO = @DOCUMENTO_OTRO,
		COD_COMPROBANTE_FIRMADO = @COD_COMPROBANTE_FIRMADO,
		EXPEDIENTE_SITRADOC = @EXPEDIENTE_SITRADOC,
		TIPO_HOJA = @TIPO_HOJA,
		TIPO_EXPEDIENTE = @TIPO_EXPEDIENTE,
		EXPEDIENTE_SITRADOC2 = @EXPEDIENTE_SITRADOC2,
		TIPO_HOJA2 = @TIPO_HOJA2,
		INDICADOR_OFICIO = @INDICADOR_OFICIO
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
 
 IF @EXPEDIENTE_SITRADOC is not null AND @COD_COMPROBANTE_FIRMADO is not null AND @ExisteComprobante = 0
 BEGIN
	 --set @comando = 
	 --  N' (SELECT @CODIGO = codigo FROM OPENQUERY([SRVSQLP01], ' + 
		--'''select SYN_FN_DEVOLVER_ID_HOJA_TRAMITE ( ''''' + @EXPEDIENTE_SITRADOC + ''''', ''''' + @TIPO_HOJA + ''''', 13, null) as codigo '') )'

	 --EXEC SP_EXECUTESQL
		--  @comando,
		--  N'@CODIGO INT OUTPUT',
		--  @CODIGO = @CODIGO OUTPUT

	 exec @CODIGO =  SYN_FN_DEVOLVER_ID_HOJA_TRAMITE @EXPEDIENTE_SITRADOC, @TIPO_HOJA, 13, null

	 IF @CODIGO != 0
	 BEGIN
	    INSERT INTO @result (ID_DOCUMENTO, INDICATIVO_OFICIO, HOJA_TRAMITE)
		 EXEC	[dbo].[SYN_p_DOCUMENTO_INTERNO_Insertar]
				@ID_CLASE_DOCUMENTO = 37,
				@ASUNTO = N'ADJUNTO DE COMPROBANTE',
				@FOLIOS = 1,
				@OBSERVACIONES = N'NO HAY OBSERVACIONES',
				@CODDEP_AUDIT = @ID_DEPENDENCIA, 
				@USUARIO_AUDIT = N'usr_compa',
				@CODDEP_DESTINO = @ID_DEPENDENCIA,
				@COD_GESTORARCHIVO = null,
				@ES_DOCUMENTO_RSPTA = 1,
				@ID_ESTADO_DOCUMENTO = 1,
				@ID_TIPO_DOCUMENTO = 4,
				@COD_MODORIGEN = 1,
				@ORIGEN_DOCUMENTO = 1,
				@ID_DOCUMENTO_REF = @CODIGO,
				@ES_CORRESPONDENCIA  = 0, 
				@ID_PERSONA = NULL,         
				@ID_TIPO_COMUNICACION = NULL,
				@FINALIZAR_DOC = 0 

		SELECT TOP(1) @ID_DOCUMENTO_ADJUNTO = ID_DOCUMENTO FROM @result

		 EXEC [dbo].[SYN_p_ARCHIVO_EXTERNO_Insertar]
		   @ID_DOCUMENTO = @ID_DOCUMENTO_ADJUNTO, 
           @NOMBRE_ARCHIVO = @NOMBRE_COMPROBANTE_FIRMADO, 
           @MIMETYPE = '@application/pdf', 
           @CODIGO = @COD_COMPROBANTE_FIRMADO,    
           @SIZE = 999, 
           @TIPO_ARCHIVO = '.PDF', 
           @ESBORRADOR = 0
       
	 END
 END
END

IF @OPC = 2 --Anular comprobante
BEGIN
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '0'
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
END

IF @OPC = 3 --Enviar a archivo
BEGIN
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '2',
	COD_ARCHIVO_CONSTANCIA_PAGO = @COD_ARCHIVO_CONSTANCIA_PAGO,
    COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL =@COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL  
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO,FECHA_RECEPCION, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), GETDATE(), @ESTADO, '2')
END

IF @OPC = 4 --Enviar a OC
BEGIN
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '3'
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), @ESTADO, '3')
END

IF @OPC = 5 --Enviar a OGA
BEGIN
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '4'
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), @ESTADO, '4')
END

IF @OPC = 6 --Enviar a caja
BEGIN
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '5'
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), @ESTADO, '5')
END

IF @OPC = 7 --Enviar a OT
BEGIN

/* Se comenta no realiza ninguna accion
 UPDATE DAT_COMPROBANTE_PAGO
 	SET ESTADO = '1'
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO

 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), @ESTADO, '1')
 */
  
  /* NUEVA LOGICA PARA REGRESAR A GIRADOR */

   UPDATE DAT_COMPROBANTE_PAGO
 	SET ORDEN_FIRMA = 1
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO

	UPDATE DAT_COMPROBANTE_PAGO_FIRMA_ROL 
	SET ESTADO_FIRMA = 'P',
	USUARIO_FIRMA = NULL,
	NOMBRES_APELLIDOS = NULL,
	FECHA_FIRMA = NULL,
	TOKEN_TRANSFERENCIA = NULL,
	USUARIO_MODIFICACION = NULL,
	FECHA_MODIFICACION = NULL
	where ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO

  /* FIN NUEVA LÓGICA */

END

IF @OPC = 8 --Actualizar fecha de recepción
BEGIN
 SELECT @idEnvio=MAX(ID_ENVIO) FROM DAT_ENVIO_COMPROBANTE WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO GROUP BY ID_COMPROBANTE_PAGO

 UPDATE DAT_ENVIO_COMPROBANTE SET FECHA_RECEPCION = GETDATE() WHERE ID_ENVIO = @idEnvio
END

END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Anexo_Sitradoc]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Anexo_Sitradoc]
@ID_PERSONA_EMPRESA int
,@COD_COMPROBANTE_FIRMADO  VARCHAR(MAX)=NULL
,@EXPEDIENTE_SITRADOC  VARCHAR(50)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Registra el comprobante de pago firmado en SITRADOC   
*Fecha Creación: 13/10/2020    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
DECLARE @ID_DOCUMENTO INT,
		@ID_DOCUMENTO_ADJUNTO INT,
        @ID_ANEXO INT,
		@NUM_DOCUMENTO_ANEXO VARCHAR(20),
		@CONT_ANEXO INT
 

 SELECT @ID_DOCUMENTO = ID_DOCUMENTO FROM [dbo].[SYN_DAT_TRAMITEWEB_DOCUMENTO] WHERE num_tram_documentario = @EXPEDIENTE_SITRADOC

 INSERT INTO [dbo].[SYN_DAT_TRAMITEWEB_DOCUMENTO] (ID_TIPO_DOCUMENTO, ID_ESTADO_DOCUMENTO, ID_CLASE_DOCUMENTO_INTERNO, INDICATIVO_OFICIO, ASUNTO, USUARIO, AUDITMOD, coddep) 
			 VALUES(4, 1, 44, 'ADJUNTO', 'COMPROBANTE PAGO', 'USR_COMPA', getdate(), 7)
 
 SET @ID_DOCUMENTO_ADJUNTO = SCOPE_IDENTITY()

 SELECT @CONT_ANEXO = COUNT(1) + 1 FROM [dbo].[SYN_DAT_TRAMITEWEB_ANEXO] WHERE id_documento = @ID_DOCUMENTO 
 SET @NUM_DOCUMENTO_ANEXO = @EXPEDIENTE_SITRADOC + '-' + TRIM(CONVERT(VARCHAR(5), @CONT_ANEXO))

 SELECT @ID_ANEXO = ISNULL(MAX(ID_ANEXO), 0) + 1 FROM [dbo].[SYN_DAT_TRAMITEWEB_ANEXO]
 
 INSERT INTO [dbo].[SYN_DAT_TRAMITEWEB_ANEXO] (ID_ANEXO, ID_DOCUMENTO, ID_TIPO_ANEXO, NUM_DOCUMENTO_ANEXO, ID_PERSONA_DESTINO, FOLIOS, CONTENIDO, OBSERVACIONES, USUARIO, AUDIT_MOD, CODDEP, ID_PERSONA, ID_DOCUMENTO_ADJUNTO, ESTADO_ADJUNTO) 
             VALUES(@ID_ANEXO, @ID_DOCUMENTO, 1, @NUM_DOCUMENTO_ANEXO, 4725, 1, 'anexo', 'Ninguno', 'USR_COMPA', GETDATE(), 23, @ID_PERSONA_EMPRESA, @ID_DOCUMENTO_ADJUNTO, 1)

 INSERT INTO [dbo].[SYN_DAT_WT_DOCUMENTO_CONT] (id_documento, cant_copias, cant_adjuntos, cod_gestorarchivo, requiere_respuesta, origen_documento, finalizar_documento, es_confidencial, es_archivo_historico) 
             VALUES(@ID_DOCUMENTO_ADJUNTO, 0, 0, @COD_COMPROBANTE_FIRMADO, 1, 1, 0, 0, 0)

END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Busqueda_Reporte]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Busqueda_Reporte]
 @ID_COMPROBANTE_PAGO INT 
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_CP VARCHAR(255)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@ESTADO VARCHAR(2)=NULL
--,@RAZON_SOCIAL VARCHAR(255)=NULL    
AS      
BEGIN    
/***************************************      
*Descripción: Reporte de comprobantes de pago
*Fecha Creación: 04/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta   
*Test: EXEC [dbo].[p_COMPROBANTE_Busqueda_Reporte] null,null,null,null,null,null,null,null,null
*Cambios Importantes:        
-Se agrego campo estado_firma y Numero de Nota Pago - Miguel Atarama 16/04/2024
******************************************/      
     IF (@ID_COMPROBANTE_PAGO=-1)
		SET @ID_COMPROBANTE_PAGO=NULL
	 IF (@NRO_SIAF=-1)
		SET @NRO_SIAF=NULL
	 IF (@NRO_OS=-1)
		SET @NRO_OS=NULL
	 IF (@NRO_OC=-1)
		SET @NRO_OC=NULL
	 IF (@NRO_CP=-1)
		SET @NRO_CP=NULL
	 IF (@DOCUMENTO_OTRO=-1)
		SET @DOCUMENTO_OTRO=NULL
	 IF (@ESTADO='-1')
		SET @ESTADO=NULL
	 IF (@FECHA_INICIO='01/01/1900')
		SET @FECHA_INICIO=NULL
	 IF (@FECHA_FIN='01/01/1900')
		SET @FECHA_FIN=NULL

 	   SELECT     
		C.ID_COMPROBANTE_PAGO ,
		C.NUMERO_SIAF,
		C.NUMERO_ORDEN_SERVICIO,
		C.NUMERO_ORDEN_COMPRA,
		ISNULL(C.NUMERO_NOTA_PAGO,'') as NUMERO_NOTA_PAGO,
		C.DOCUMENTO_OTRO,
		C.ID_TIPO_GIRO,
		C.ID_TIPO_SITUACION,
		C.RAZON_SOCIAL,
		C.MOTIVO_ANULACION,
		C.FECHA_REGISTRO,
		C.MONTO,
		C.ESTADO,
		ISNULL(C.ESTADO_FIRMA,'N') as ESTADO_FIRMA,
		T.NOMBRES USUARIO,
		NUMERO_COMPROBANTE_PAGO,
		isnull(FECHA_ENVIO, '') FECHA_ENVIO,
		isnull(FECHA_RECEPCION, '') FECHA_RECEPCION,
		C.EXPEDIENTE_SITRADOC,
		C.TIPO_HOJA,
		C.TIPO_EXPEDIENTE,
		CP.DES_CONCEPTO_PAGO,
		DC.MONTO MONTO_CONCEPTO
	   FROM DAT_COMPROBANTE_PAGO C
	    LEFT JOIN DAT_DETALLE_COMPROBANTE_PAGO DC ON C.ID_COMPROBANTE_PAGO = DC.ID_COMPROBANTE_PAGO
		LEFT JOIN CAT_CONCEPTO_PAGO CP ON DC.ID_CONCEPTO_PAGO = CP.ID_CONCEPTO_PAGO
	    LEFT JOIN MAE_TRABAJADOR T ON C.USUARIO = T.EMAIL
		LEFT JOIN (SELECT E1.ID_COMPROBANTE_PAGO, convert(varchar, E1.FECHA_ENVIO, 103) FECHA_ENVIO, convert(varchar, E1.FECHA_RECEPCION, 103) FECHA_RECEPCION
			       FROM DAT_ENVIO_COMPROBANTE E1, (SELECT MAX(ID_ENVIO) ID_ENVIO FROM DAT_ENVIO_COMPROBANTE GROUP BY ID_COMPROBANTE_PAGO) E2
			       WHERE E2.ID_ENVIO = E1.ID_ENVIO) E  ON E.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO
		WHERE     
		 --(@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
		 (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
			AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
			AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
			AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
			AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
			AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
			AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
			--AND (@RAZON_SOCIAL IS NULL OR C.RAZON_SOCIAL LIKE '%'+@RAZON_SOCIAL+'%')
			AND (@ESTADO IS NULL OR C.ESTADO = @ESTADO)   
END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Busqueda_Reportebak]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Busqueda_Reportebak]
 @ID_COMPROBANTE_PAGO INT 
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_CP VARCHAR(255)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@ESTADO VARCHAR(2)=NULL
--,@RAZON_SOCIAL VARCHAR(255)=NULL    
AS      
BEGIN    
/***************************************      
*Descripción: Reporte de comprobantes de pago
*Fecha Creación: 04/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     IF (@ID_COMPROBANTE_PAGO=-1)
		SET @ID_COMPROBANTE_PAGO=NULL
	 IF (@NRO_SIAF=-1)
		SET @NRO_SIAF=NULL
	 IF (@NRO_OS=-1)
		SET @NRO_OS=NULL
	 IF (@NRO_OC=-1)
		SET @NRO_OC=NULL
	 IF (@NRO_CP=-1)
		SET @NRO_CP=NULL
	 IF (@DOCUMENTO_OTRO=-1)
		SET @DOCUMENTO_OTRO=NULL
	 IF (@ESTADO='-1')
		SET @ESTADO=NULL
	 IF (@FECHA_INICIO='01/01/1900')
		SET @FECHA_INICIO=NULL
	 IF (@FECHA_FIN='01/01/1900')
		SET @FECHA_FIN=NULL

 	   SELECT     
		ID_COMPROBANTE_PAGO ,
		NUMERO_SIAF,
		NUMERO_ORDEN_SERVICIO,
		NUMERO_ORDEN_COMPRA,
		DOCUMENTO_OTRO,
		ID_TIPO_GIRO,
		ID_TIPO_SITUACION,
		RAZON_SOCIAL,
		MOTIVO_ANULACION,
		FECHA_REGISTRO,
		MONTO,
		ESTADO,
		T.NOMBRES USUARIO,
		NUMERO_COMPROBANTE_PAGO
	   FROM DAT_COMPROBANTE_PAGO C
	    LEFT JOIN MAE_TRABAJADOR T ON C.USUARIO = T.EMAIL
		WHERE     
		 --(@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
		 (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
			AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
			AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
			AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
			AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
			AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
			AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
			--AND (@RAZON_SOCIAL IS NULL OR C.RAZON_SOCIAL LIKE '%'+@RAZON_SOCIAL+'%')
			AND (@ESTADO IS NULL OR C.ESTADO = @ESTADO)   
END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Flujo_Reporte]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Flujo_Reporte]
 @ID_COMPROBANTE_PAGO INT 
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_CP VARCHAR(255)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@ESTADO VARCHAR(2)=NULL
--,@RAZON_SOCIAL VARCHAR(255)=NULL    
AS      
BEGIN    
/***************************************      
*Descripción: Reporte de flujo de comprobantes de pago
*Fecha Creación: 07/10/2020    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:   
******************************************/      
     IF (@ID_COMPROBANTE_PAGO=-1)
		SET @ID_COMPROBANTE_PAGO=NULL
	 IF (@NRO_SIAF=-1)
		SET @NRO_SIAF=NULL
	 IF (@NRO_OS=-1)
		SET @NRO_OS=NULL
	 IF (@NRO_OC=-1)
		SET @NRO_OC=NULL
	 IF (@NRO_CP=-1)
		SET @NRO_CP=NULL
	 IF (@DOCUMENTO_OTRO=-1)
		SET @DOCUMENTO_OTRO=NULL
	 IF (@ESTADO='-1')
		SET @ESTADO=NULL
	 IF (@FECHA_INICIO='01/01/1900')
		SET @FECHA_INICIO=NULL
	 IF (@FECHA_FIN='01/01/1900')
		SET @FECHA_FIN=NULL

 	   SELECT     
		C.ID_COMPROBANTE_PAGO,
		C.NUMERO_SIAF,
		C.NUMERO_ORDEN_SERVICIO,
		C.NUMERO_ORDEN_COMPRA,
		C.DOCUMENTO_OTRO,
		C.ID_TIPO_GIRO,
		C.ID_TIPO_SITUACION,
		C.RAZON_SOCIAL,
		C.MOTIVO_ANULACION,
		C.FECHA_REGISTRO,
		C.MONTO,
		C.ESTADO,
		T.NOMBRES USUARIO,
		NUMERO_COMPROBANTE_PAGO,
		ACCION,
		FECHA_ESTADO,
		DESTINO
	   FROM DAT_COMPROBANTE_PAGO C
	    LEFT JOIN MAE_TRABAJADOR T ON C.USUARIO = T.EMAIL
		LEFT JOIN (SELECT ID_COMPROBANTE_PAGO,
							CASE FECHA WHEN 'FECHA_ENVIO' THEN 'ENVIO' WHEN 'FECHA_RECEPCION' THEN 'RECEPCION' ELSE '' END ACCION, 
							FECHA_ESTADO,
							CASE ESTADO_ACTUAL 
								WHEN '0' THEN 'ANULADO' 
								WHEN '1' THEN 'TESORERIA'
								WHEN '2' THEN 'ARCHIVO'
								WHEN '3' THEN 'CONTABILIDAD'
								WHEN '4' THEN 'OGA'
								WHEN '5' THEN 'CAJA'
								ELSE '' 
							END DESTINO
					FROM DAT_ENVIO_COMPROBANTE
					UNPIVOT ( FECHA_ESTADO FOR [FECHA] IN ([FECHA_ENVIO], [FECHA_RECEPCION]) ) AS E1) E  ON E.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO
		WHERE     
		 --(@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
		 (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
			AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
			AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
			AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
			AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
			AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
			AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
			--AND (@RAZON_SOCIAL IS NULL OR C.RAZON_SOCIAL LIKE '%'+@RAZON_SOCIAL+'%')
			AND (@ESTADO IS NULL OR C.ESTADO = @ESTADO)
		ORDER BY NUMERO_COMPROBANTE_PAGO, C.ID_COMPROBANTE_PAGO
END
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_ListarPaginado]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_ListarPaginado]
 @ID_COMPROBANTE_PAGO INT 
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_CP VARCHAR(255)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@ESTADO VARCHAR(1)=NULL
,@RAZON_SOCIAL VARCHAR(255)=NULL
,@ID_TIPO_PAGO INT
,@ID_USUARIO INT
,@PAGENUMBER INT      
,@PAGESIZE INT      
AS      
BEGIN    
/***************************************      
*Descripción: Lista de forma paginada los comprobantes    
*Fecha Creación: 04/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:     se agrega  WITH (NOLOCK) en todos los SELECT  para evitar bloqueos  IAMYS 24/01/2024
                          se agrega  campo NUMERO_NOTA_PAGO  MIGUEL ATARAMA 17/04/2024
						  se agrega campos COD_ARCHIVO_CONSTANCIA_PAGO,COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL  MIGUEL ATARAMA 24/04/2024
******************************************/      
     
 DECLARE @TOTAL INT=0     
 --NRO TOTAL RE REGISTROS    
 SELECT  @TOTAL=COUNT(1)     
 FROM DAT_COMPROBANTE_PAGO C 
 INNER JOIN MAE_TRABAJADOR M on C.USUARIO = M.EMAIL   
 WHERE     
  --(@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
  (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
	AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
	AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
	AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
	AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
	AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
	AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
	AND (@RAZON_SOCIAL IS NULL OR C.RAZON_SOCIAL LIKE '%'+@RAZON_SOCIAL+'%')
	AND (@ESTADO IS NULL OR C.ESTADO = @ESTADO)
	AND (@ID_TIPO_PAGO IS NULL OR C.ID_TIPO_PAGO = @ID_TIPO_PAGO)
	AND (@ID_USUARIO IS NULL OR M.CODIGO_TRABAJADOR = @ID_USUARIO)

  IF(@PAGESIZE=0)
	SET @PAGESIZE=@TOTAL    
     

 --PAGINADO    
 SELECT TOP (@PAGESIZE)      
	@TOTAL AS 'total_rows',
	id_comprobante_pago,
	numero_siaf,
	numero_orden_servicio,
	numero_orden_compra,
	numero_nota_pago,
	id_tipo_giro,
	id_tipo_situacion,
	razon_social,
	id_persona_empresa,
	motivo_anulacion,
	fecha_registro,
	monto,
	estado,
	estado_firma,
	des_ref_firma_rol_ssa,
	usuario,
	id_tipo_pago,
	cod_archivo,
	documento_otro,
	numero_comprobante_pago,
	fecha_envio,
	fecha_recepcion,
	cod_comprobante_firmado,
	expediente_sitradoc,
	tipo_hoja_tramite,
	tipo_expediente,
	cod_archivo_comprobante_pago,
	nom_archivo_comprobante_pago,
	expediente_sitradoc2,
	tipo_hoja_tramite2,
	indicador_oficio,
	cod_archivo_constancia_pago,
	cod_archivo_comprobante_pago_firmado_manual
 FROM(    
	   SELECT     
		ROW_NUMBER()OVER(ORDER BY C.ID_COMPROBANTE_PAGO DESC) AS 'ROW_INDEX',
		C.ID_COMPROBANTE_PAGO ,
		C.NUMERO_SIAF,
		C.NUMERO_ORDEN_SERVICIO,
		C.NUMERO_ORDEN_COMPRA,
		C.NUMERO_NOTA_PAGO,
		C.ID_TIPO_GIRO,
		C.ID_TIPO_SITUACION,
		C.RAZON_SOCIAL,
		C.ID_PERSONA_EMPRESA,
		C.MOTIVO_ANULACION,
		C.FECHA_REGISTRO,
		C.MONTO,
		C.ESTADO,
		C.ESTADO_FIRMA,
		FR.DES_REF_FIRMA_ROL_SSA,
		C.USUARIO,
		C.ID_TIPO_PAGO,
		C.COD_ARCHIVO,
		C.DOCUMENTO_OTRO,
		C.NUMERO_COMPROBANTE_PAGO,
		E.FECHA_ENVIO,
		E.FECHA_RECEPCION,
		C.COD_COMPROBANTE_FIRMADO,
		C.EXPEDIENTE_SITRADOC,
		C.TIPO_HOJA AS TIPO_HOJA_TRAMITE,
		C.TIPO_EXPEDIENTE,
		C.COD_ARCHIVO_COMPROBANTE_PAGO,
		C.NOM_ARCHIVO_COMPROBANTE_PAGO,
		C.EXPEDIENTE_SITRADOC2,
		C.TIPO_HOJA2 AS TIPO_HOJA_TRAMITE2,
		C.INDICADOR_OFICIO,
		C.COD_ARCHIVO_CONSTANCIA_PAGO,
	    C.COD_ARCHIVO_COMPROBANTE_PAGO_FIRMADO_MANUAL
	   FROM DAT_COMPROBANTE_PAGO C	 WITH (NOLOCK)        
	   LEFT JOIN (SELECT E1.ID_COMPROBANTE_PAGO, E1.FECHA_ENVIO, E1.FECHA_RECEPCION 
			       FROM DAT_ENVIO_COMPROBANTE E1 WITH (NOLOCK), (SELECT MAX(ID_ENVIO) ID_ENVIO FROM DAT_ENVIO_COMPROBANTE  WITH (NOLOCK)   GROUP BY ID_COMPROBANTE_PAGO) E2
			       WHERE E2.ID_ENVIO = E1.ID_ENVIO) E  ON E.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO
	   LEFT JOIN DAT_COMPROBANTE_PAGO_FIRMA_ROL FR ON FR.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO 
														AND FR.ORDEN_FIRMA = C.ORDEN_FIRMA
		INNER JOIN MAE_TRABAJADOR M on C.USUARIO = M.EMAIL
		WHERE		     
		 --(@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
		     (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
			AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
			AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
			AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
			AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
			AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
			AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
			AND (@RAZON_SOCIAL IS NULL OR C.RAZON_SOCIAL LIKE '%'+@RAZON_SOCIAL+'%')
			AND (@ESTADO IS NULL OR C.ESTADO = @ESTADO)
			AND (@ID_TIPO_PAGO IS NULL OR C.ID_TIPO_PAGO = @ID_TIPO_PAGO)
			AND (@ID_USUARIO IS NULL OR M.CODIGO_TRABAJADOR = @ID_USUARIO)
    
 )PAG     
 WHERE PAG.ROW_INDEX>(@PAGESIZE*(@PAGENUMBER-1))      
END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Obtener]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Obtener]    
 @ID INT=NULL,
 @NRO_CP VARCHAR(255)=NULL,
 @ANIO INT=NULL      

AS      
BEGIN    
/***************************************      
*Descripción: Devuelve datos del comprobante     
*Fecha Creación: 24/01/2020    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:       
Text:    
 EXEC dbo.p_COMPROBANTE_Obtener   
    @ID=1
******************************************/      
	DECLARE @NRO_PROCONTRATA VARCHAR(255) = SUBSTRING(@NRO_CP, 1, 5)
	IF @NRO_PROCONTRATA = 'PROCO'
	BEGIN
		SELECT  CONCAT(NUMERO_COMPROBANTE_PAGO, '-', YEAR(FECHA_REGISTRO)) nro_comprobante,
				cod_archivo   
		FROM dbo.DAT_COMPROBANTE_PAGO
		WHERE EXPEDIENTE_SITRADOC = @NRO_CP
		AND TIPO_EXPEDIENTE = 'P'
	END
	ELSE
	BEGIN
		SELECT  id_comprobante_pago
		FROM dbo.DAT_COMPROBANTE_PAGO
		WHERE NUMERO_COMPROBANTE_PAGO = @NRO_CP
		AND YEAR(FECHA_REGISTRO) = @ANIO
	END
END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_PAGO_Actualizar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_PAGO_Actualizar]
 @ID_COMPROBANTE_PAGO int 
,@COD_ARCHIVO_COMPROBANTE_PAGO VARCHAR(MAX)=NULL
,@NOM_ARCHIVO_COMPROBANTE_PAGO VARCHAR(MAX)=NULL
,@USUARIO_ACCION VARCHAR(MAX)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Actualiza la información del comprobante de pago    
*Fecha Creación: 08/03/2022    
*Fecha Modificación:       
*Parámetros:    
*Autor: Jose Perez      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      

DECLARE @ExisteComprobante VARCHAR(MAX)=NULL
DECLARE @FechaAccion DATETIME=GETDATE()
DECLARE @ErrorCodigo VARCHAR(MAX)=NULL
DECLARE @ErrorMensaje VARCHAR(MAX)=NULL

--BEGIN TRANSACTION;  
  
--BEGIN TRY  
    
	SELECT @ExisteComprobante=COD_ARCHIVO_COMPROBANTE_PAGO FROM DAT_COMPROBANTE_PAGO WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO

	IF @ExisteComprobante IS NULL 
	BEGIN
		UPDATE DAT_COMPROBANTE_PAGO
		SET COD_ARCHIVO_COMPROBANTE_PAGO = @COD_ARCHIVO_COMPROBANTE_PAGO
			,NOM_ARCHIVO_COMPROBANTE_PAGO = @NOM_ARCHIVO_COMPROBANTE_PAGO
			,ESTADO_FIRMA = 'P' --Pendiente
			,ORDEN_FIRMA = 1
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO
		
		UPDATE dbo.DAT_COMPROBANTE_PAGO_FIRMA_ROL
		SET ES_ELIMINADO = 1
		WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO

		INSERT INTO dbo.DAT_COMPROBANTE_PAGO_FIRMA_ROL
							(ID_COMPROBANTE_PAGO
							,COD_FIRMA_ROL_SSA
							,DES_REF_FIRMA_ROL_SSA
							,ORDEN_FIRMA
							,ESTADO_FIRMA
							,ES_ELIMINADO
							,USUARIO_CREACION
							,FECHA_CREACION)
		SELECT @ID_COMPROBANTE_PAGO
				,COD_FIRMA_ROL_SSA
				,DES_REF_FIRMA_ROL_SSA
				,ORDEN_FIRMA 
				,'P'
				,0
				,@USUARIO_ACCION
				,@FechaAccion
		FROM dbo.CAT_FIRMA_ROL 
		WHERE ES_ELIMINADO = 0 
		ORDER BY ORDEN_FIRMA ASC
		
	END
	SET @ErrorMensaje = ''
	SET @ErrorCodigo = '0'
--END TRY  
--BEGIN CATCH  
--    --SELECT   
--        --ERROR_NUMBER() AS ErrorNumber  
--        --,ERROR_SEVERITY() AS ErrorSeverity  
--        --,ERROR_STATE() AS ErrorState  
--        --,ERROR_PROCEDURE() AS ErrorProcedure  
--        --,ERROR_LINE() AS ErrorLine    
--        --,ERROR_MESSAGE() AS ErrorMessage;  
	
--	SET @ErrorMensaje = ERROR_MESSAGE()
--	SET @ErrorCodigo = '-1'

--    IF @@TRANCOUNT > 0  
--        ROLLBACK TRANSACTION;  
--END CATCH;  
  
--IF @@TRANCOUNT > 0  
--    COMMIT TRANSACTION;

--SELECT @ErrorCodigo AS 'error_codigo',@ErrorMensaje AS 'error_mensaje'

END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_PAGO_ActualizarEstadoFirmarByCodigo]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_PAGO_ActualizarEstadoFirmarByCodigo]
 @ID_COMPROBANTE_PAGO_FIRMA_ROL int 
,@TOKEN_TRANSFERENCIA VARCHAR(MAX)=NULL
,@USUARIO_ROL INT=NULL
,@USUARIO_ACCION VARCHAR(MAX)=NULL
,@USUARIO_NOMBRES VARCHAR(MAX)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Actualiza la información del comprobante de pago con la firma realizada  
*Fecha Creación: 08/03/2022    
*Fecha Modificación:       
*Parámetros:    
*Autor: Jose Perez      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      

DECLARE @FechaAccion DATETIME=GETDATE()
DECLARE @idComprobantePago INT = NULL
DECLARE @orden INT = NULL
DECLARE @firmasPendientes SMALLINT = NULL
DECLARE @estadoFirma CHAR(1) = 'P'

	UPDATE dbo.DAT_COMPROBANTE_PAGO_FIRMA_ROL 
	SET
	ESTADO_FIRMA = 'F',
	USUARIO_FIRMA = @USUARIO_ACCION, 
	NOMBRES_APELLIDOS = @USUARIO_NOMBRES, 
	FECHA_FIRMA = @FechaAccion, 
	TOKEN_TRANSFERENCIA = @TOKEN_TRANSFERENCIA, 
	USUARIO_MODIFICACION = @USUARIO_ACCION, 
	FECHA_MODIFICACION = @FechaAccion 
	WHERE ID_COMPROBANTE_PAGO_FIRMA_ROL = @ID_COMPROBANTE_PAGO_FIRMA_ROL 
			--AND COD_FIRMA_ROL_SSA = @USUARIO_ROL
			--AND ESTADO_FIRMA = 'P'
			--AND ES_ELIMINADO = 0
			
    SELECT 
	@idComprobantePago = ID_COMPROBANTE_PAGO 
	,@orden = ORDEN_FIRMA 
	FROM dbo.DAT_COMPROBANTE_PAGO_FIRMA_ROL 
	WHERE ID_COMPROBANTE_PAGO_FIRMA_ROL = @ID_COMPROBANTE_PAGO_FIRMA_ROL 


	SELECT  @firmasPendientes = COUNT(ID_COMPROBANTE_PAGO_FIRMA_ROL) 
	FROM dbo.DAT_COMPROBANTE_PAGO_FIRMA_ROL 
	WHERE ID_COMPROBANTE_PAGO = @idComprobantePago
			AND ESTADO_FIRMA = 'P'
			AND ES_ELIMINADO = 0

	IF(@firmasPendientes = 0) 
	BEGIN 
		SET @estadoFirma = 'F' 
		SET @orden = -1
	END

	UPDATE dbo.DAT_COMPROBANTE_PAGO 
	SET 
	ESTADO_FIRMA = @estadoFirma,
	ORDEN_FIRMA = (@orden+1)
	WHERE ID_COMPROBANTE_PAGO = @idComprobantePago 


END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_PAGO_ListarFirmaPaginado]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_PAGO_ListarFirmaPaginado]
@USUARIO_NAME VARCHAR(20)   
,@USUARIO_ROL INT
,@PAGENUMBER INT      
,@PAGESIZE INT      
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_CP VARCHAR(255)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Lista de forma paginada los documento a firmar    
*Fecha Creación: 08/03/2022    
*Fecha Modificación:       
*Parámetros:    
*Autor: Jose Perez      
*Versión: Beta      
*Cambios Importantes:    Se agregaron filtros de búsqueda - Miguel Atarama - 30/04/2024
*Test: EXEC [dbo].[p_COMPROBANTE_PAGO_ListarFirmaPaginado]'rcastro',531,1,10,null,null
       EXEC [dbo].[p_COMPROBANTE_PAGO_ListarFirmaPaginado]'rcastro',280,1,10,null,null
******************************************/      
     
 DECLARE @TOTAL INT=0     
 --NRO TOTAL RE REGISTROS    
 SELECT  @TOTAL=COUNT(1)     
FROM DAT_COMPROBANTE_PAGO C    
 INNER JOIN DAT_COMPROBANTE_PAGO_FIRMA_ROL F ON F.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO 
												AND C.ORDEN_FIRMA = F.ORDEN_FIRMA
 WHERE     
  F.COD_FIRMA_ROL_SSA = @USUARIO_ROL
  AND F.ES_ELIMINADO = 0
  AND F.ESTADO_FIRMA = 'P'
  AND C.ESTADO != 2
  AND C.USUARIO = CASE WHEN C.ORDEN_FIRMA = 1 THEN @USUARIO_NAME ELSE C.USUARIO END
    AND (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
	AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
	AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
	AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
	AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
	AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
	AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)

  IF(@PAGESIZE=0)
	SET @PAGESIZE=@TOTAL    
     

 --PAGINADO    
 SELECT TOP (@PAGESIZE)      
	@TOTAL AS 'total_rows',
	id_comprobante_pago_firma_rol,
	id_comprobante_pago,
	numero_siaf,
	numero_orden_servicio,
	numero_orden_compra,
	id_tipo_giro,
	id_tipo_situacion,
	razon_social,
	id_persona_empresa,
	motivo_anulacion,
	fecha_registro,
	monto,
	estado,
	estado_firma,
	usuario,
	id_tipo_pago,
	cod_archivo,
	documento_otro,
	numero_comprobante_pago,
	fecha_envio,
	fecha_recepcion,
	cod_comprobante_firmado,
	expediente_sitradoc,
	tipo_hoja_tramite,
	tipo_expediente,
	cod_archivo_comprobante_pago
 FROM(    
	   SELECT     
		ROW_NUMBER()OVER(ORDER BY C.ID_COMPROBANTE_PAGO DESC) AS 'ROW_INDEX',
		F.ID_COMPROBANTE_PAGO_FIRMA_ROL,
		C.ID_COMPROBANTE_PAGO ,
		C.NUMERO_SIAF,
		C.NUMERO_ORDEN_SERVICIO,
		C.NUMERO_ORDEN_COMPRA,
		C.ID_TIPO_GIRO,
		C.ID_TIPO_SITUACION,
		C.RAZON_SOCIAL,
		C.ID_PERSONA_EMPRESA,
		C.MOTIVO_ANULACION,
		C.FECHA_REGISTRO,
		C.MONTO,
		C.ESTADO,
		C.ESTADO_FIRMA,
		C.USUARIO,
		C.ID_TIPO_PAGO,
		C.COD_ARCHIVO,
		C.DOCUMENTO_OTRO,
		C.NUMERO_COMPROBANTE_PAGO,
		E.FECHA_ENVIO,
		E.FECHA_RECEPCION,
		C.COD_COMPROBANTE_FIRMADO,
		C.EXPEDIENTE_SITRADOC,
		C.TIPO_HOJA AS TIPO_HOJA_TRAMITE,
		C.TIPO_EXPEDIENTE,
		C.COD_ARCHIVO_COMPROBANTE_PAGO
		--F.COD_FIRMA_ROL_SSA
	   FROM DAT_COMPROBANTE_PAGO C
	   INNER JOIN DAT_COMPROBANTE_PAGO_FIRMA_ROL F ON F.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO 
														AND C.ORDEN_FIRMA = F.ORDEN_FIRMA
	   LEFT JOIN (SELECT E1.ID_COMPROBANTE_PAGO, E1.FECHA_ENVIO, E1.FECHA_RECEPCION 
			       FROM DAT_ENVIO_COMPROBANTE E1, (SELECT MAX(ID_ENVIO) ID_ENVIO FROM DAT_ENVIO_COMPROBANTE GROUP BY ID_COMPROBANTE_PAGO) E2
			       WHERE E2.ID_ENVIO = E1.ID_ENVIO) E  ON E.ID_COMPROBANTE_PAGO = C.ID_COMPROBANTE_PAGO
		WHERE		     
			F.COD_FIRMA_ROL_SSA = @USUARIO_ROL
			AND C.USUARIO = CASE WHEN C.ORDEN_FIRMA = 1 THEN @USUARIO_NAME ELSE C.USUARIO END
			AND F.ES_ELIMINADO = 0
			AND F.ESTADO_FIRMA = 'P'
			AND C.ESTADO != 2
			AND (@NRO_CP IS NULL OR C.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
			AND (@FECHA_INICIO IS NULL OR C.FECHA_REGISTRO>=@FECHA_INICIO)
			AND (@FECHA_FIN IS NULL OR C.FECHA_REGISTRO<=@FECHA_FIN)
			AND (@NRO_SIAF IS NULL OR C.NUMERO_SIAF = @NRO_SIAF)
			AND (@NRO_OS IS NULL OR C.NUMERO_ORDEN_SERVICIO = @NRO_OS)
			AND (@NRO_OC IS NULL OR C.NUMERO_ORDEN_COMPRA = @NRO_OC)
			AND (@DOCUMENTO_OTRO IS NULL OR C.DOCUMENTO_OTRO = @DOCUMENTO_OTRO)
    
 )PAG    
 WHERE PAG.ROW_INDEX>(@PAGESIZE*(@PAGENUMBER-1))      
END 
GO
/****** Object:  StoredProcedure [dbo].[p_COMPROBANTE_Registrar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_COMPROBANTE_Registrar]
 @FECHA DATETIME
,@NRO_SIAF VARCHAR(255)=NULL
,@NRO_OS VARCHAR(255)=NULL
,@NRO_OC VARCHAR(255)=NULL
,@NRO_NP VARCHAR(255)=NULL
,@RAZON_SOCIAL VARCHAR(255)=NULL
,@ID_PERSONA_EMPRESA int
,@MONTO DECIMAL(10,2)
,@USUARIO VARCHAR(10)
,@ID_TIPO_PAGO int
,@COD_ARCHIVO VARCHAR(MAX)=NULL
,@DOCUMENTO_OTRO VARCHAR(255)=NULL
,@COD_COMPROBANTE_FIRMADO  VARCHAR(MAX)=NULL
,@NOMBRE_COMPROBANTE_FIRMADO  VARCHAR(MAX)=NULL
,@EXPEDIENTE_SITRADOC  VARCHAR(50)=NULL
,@TIPO_HOJA  VARCHAR(1)=NULL
,@TIPO_EXPEDIENTE  VARCHAR(1)=NULL
,@ID_DEPENDENCIA int
,@EXPEDIENTE_SITRADOC2  VARCHAR(50)=NULL
,@TIPO_HOJA2  VARCHAR(1)=NULL
,@INDICADOR_OFICIO VARCHAR(50)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Registra la información del comprobante de pago    
*Fecha Creación: 12/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
DECLARE @NRO INT=0,
        @ID_COMPROBANTE_PAGO INT,
		@comando nvarchar(500),
		@CODIGO INT
 
 SELECT  @NRO=ISNULL(MAX(NUMERO_COMPROBANTE), 0) + 1
 FROM DAT_NUMERO_COMPROBANTE   
 WHERE ANIO = YEAR(@FECHA)

 IF (@NRO=1)
	INSERT INTO DAT_NUMERO_COMPROBANTE (ANIO, NUMERO_COMPROBANTE) VALUES(YEAR(@FECHA), 1)
 ELSE
    UPDATE DAT_NUMERO_COMPROBANTE SET NUMERO_COMPROBANTE = @NRO WHERE ANIO = YEAR(@FECHA)

 INSERT INTO DAT_COMPROBANTE_PAGO
 		(NUMERO_SIAF, 
		NUMERO_ORDEN_SERVICIO,
		NUMERO_ORDEN_COMPRA,
		NUMERO_NOTA_PAGO,
		ID_TIPO_GIRO,
		ID_TIPO_SITUACION,
		RAZON_SOCIAL,
		ID_PERSONA_EMPRESA,
		MOTIVO_ANULACION,
		FECHA_REGISTRO,
		MONTO,
		ESTADO,
		USUARIO,
		ID_TIPO_PAGO,
		COD_ARCHIVO,
		DOCUMENTO_OTRO,
		NUMERO_COMPROBANTE_PAGO,
		COD_COMPROBANTE_FIRMADO,
		EXPEDIENTE_SITRADOC,
		TIPO_HOJA,
		TIPO_EXPEDIENTE,
		EXPEDIENTE_SITRADOC2,
		TIPO_HOJA2,
		INDICADOR_OFICIO)
		VALUES(@NRO_SIAF,
				@NRO_OS,
				@NRO_OC,
				@NRO_NP,
				1,
				1,
				@RAZON_SOCIAL,
				@ID_PERSONA_EMPRESA,
				NULL,
				@FECHA,
				@MONTO,
				1,
				@USUARIO,
				@ID_TIPO_PAGO,
				@COD_ARCHIVO,
				@DOCUMENTO_OTRO,
				@NRO,
				@COD_COMPROBANTE_FIRMADO,
				@EXPEDIENTE_SITRADOC,
				@TIPO_HOJA,
				@TIPO_EXPEDIENTE,
				@EXPEDIENTE_SITRADOC2,
				@TIPO_HOJA2,
				@INDICADOR_OFICIO)

 SET @ID_COMPROBANTE_PAGO = SCOPE_IDENTITY()

 INSERT INTO DAT_ENVIO_COMPROBANTE (ID_COMPROBANTE_PAGO, FECHA_ENVIO, FECHA_RECEPCION, ESTADO_ANTERIOR, ESTADO_ACTUAL) VALUES(@ID_COMPROBANTE_PAGO, GETDATE(), GETDATE(), '1', '1')

 SELECT ID_COMPROBANTE_PAGO AS id_comprobante_pago, NUMERO_COMPROBANTE_PAGO as numero_comprobante_pago FROM DAT_COMPROBANTE_PAGO WHERE ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO;
 --IF @EXPEDIENTE_SITRADOC is not null
 --BEGIN
	-- set @comando = 
	--   N' (SELECT @CODIGO = codigo FROM OPENQUERY([SRVSQL], ' + 
	--	'''select [DB_TRAMITE_DOCUMENTARIO].[usr_std].[FN_DEVOLVER_ID_HOJA_TRAMITE] ( ''''' + @EXPEDIENTE_SITRADOC + ''''', ''''' + @TIPO_HOJA + ''''', 13, null) as codigo '') )'

	-- EXEC SP_EXECUTESQL
	--	  @comando,
	--	  N'@CODIGO INT OUTPUT',
	--	  @CODIGO = @CODIGO OUTPUT

	-- IF @CODIGO != 0
	-- BEGIN
	--	 EXEC	[dbo].[SYN_p_DOCUMENTO_INTERNO_Insertar]
	--			@ID_CLASE_DOCUMENTO = 37,
	--			@ASUNTO = N'ADJUNTO DE COMPROBANTE',
	--			@FOLIOS = 1,
	--			@OBSERVACIONES = N'NO HAY OBSERVACIONES',
	--			@CODDEP_AUDIT = 13, 
	--			@USUARIO_AUDIT = N'usr_compa',
	--			@CODDEP_DESTINO = 13,
	--			@COD_GESTORARCHIVO = null,
	--			@ES_DOCUMENTO_RSPTA = 1,
	--			@ID_ESTADO_DOCUMENTO = 1,
	--			@ID_TIPO_DOCUMENTO = 4,
	--			@COD_MODORIGEN = 1,
	--			@ORIGEN_DOCUMENTO = 1,
	--			@ID_DOCUMENTO_REF = @CODIGO,
	--			@ES_CORRESPONDENCIA  = 0, 
	--			@ID_PERSONA = NULL,         
	--			@ID_TIPO_COMUNICACION = NULL,
	--			@FINALIZAR_DOC = 0 

	--	 EXEC [dbo].[SYN_p_ARCHIVO_EXTERNO_Insertar]
	--	   @ID_DOCUMENTO = @CODIGO, 
 --          @NOMBRE_ARCHIVO = @NOMBRE_COMPROBANTE_FIRMADO, 
 --          @MIMETYPE = '@application/pdf', 
 --          @CODIGO = @COD_COMPROBANTE_FIRMADO,    
 --          @SIZE = 999, 
 --          @TIPO_ARCHIVO = '.PDF', 
 --          @ESBORRADOR = 0
       
	-- END
 --END
 
END 
GO
/****** Object:  StoredProcedure [dbo].[p_DETALLE_COMPROBANTE_Eliminar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_DETALLE_COMPROBANTE_Eliminar]
 @ID_DETALLE_COMPROBANTE_PAGO INT
AS      
BEGIN    
/***************************************      
*Descripción: Elimina el registro del detalle del comprobante de pago    
*Fecha Creación: 20/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
 DELETE FROM DAT_DETALLE_COMPROBANTE_PAGO
 		WHERE ID_DETALLE_COMPROBANTE_PAGO = @ID_DETALLE_COMPROBANTE_PAGO				
END 
GO
/****** Object:  StoredProcedure [dbo].[p_DETALLE_COMPROBANTE_ListarPaginado]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_DETALLE_COMPROBANTE_ListarPaginado]
 @ID_COMPROBANTE INT
,@PAGENUMBER INT      
,@PAGESIZE INT      
AS      
BEGIN    
/***************************************      
*Descripción: Lista de forma paginada el detalle de los comprobantes    
*Fecha Creación: 18/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
 DECLARE @TOTAL INT=0     
 --NRO TOTAL RE REGISTROS    
 SELECT  @TOTAL=COUNT(1)     
 FROM DAT_DETALLE_COMPROBANTE_PAGO C INNER JOIN CAT_CONCEPTO_PAGO D ON C.ID_CONCEPTO_PAGO = D.ID_CONCEPTO_PAGO
	   WHERE C.ID_COMPROBANTE_PAGO = @ID_COMPROBANTE AND C.ESTADO = '1'
 
  IF(@PAGESIZE=0)
	SET @PAGESIZE=@TOTAL    
 
 --PAGINADO    
 SELECT TOP (@PAGESIZE)      
	@TOTAL AS 'total_rows',
	id_comprobante_pago,
	id_detalle_comprobante_pago,
	id_concepto_pago,
	des_concepto_pago,
	monto    
 FROM(    
	   SELECT     
		ROW_NUMBER()OVER(ORDER BY C.ID_DETALLE_COMPROBANTE_PAGO) AS 'ROW_INDEX',
		C.ID_COMPROBANTE_PAGO,
		C.ID_DETALLE_COMPROBANTE_PAGO,
		C.ID_CONCEPTO_PAGO,
		D.DES_CONCEPTO_PAGO,
		C.MONTO
	   FROM DAT_DETALLE_COMPROBANTE_PAGO C INNER JOIN CAT_CONCEPTO_PAGO D ON C.ID_CONCEPTO_PAGO = D.ID_CONCEPTO_PAGO
	   WHERE C.ID_COMPROBANTE_PAGO = @ID_COMPROBANTE AND C.ESTADO = '1'
 )PAG    
 WHERE PAG.ROW_INDEX>(@PAGESIZE*(@PAGENUMBER-1))      
END 
GO
/****** Object:  StoredProcedure [dbo].[p_DETALLE_COMPROBANTE_Registrar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_DETALLE_COMPROBANTE_Registrar]
 @ID_COMPROBANTE_PAGO INT
,@ID_CONCEPTO_PAGO INT
,@MONTO DECIMAL(10,2)
AS      
BEGIN    
/***************************************      
*Descripción: Registra la información del detalle del comprobante de pago    
*Fecha Creación: 20/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
 INSERT INTO DAT_DETALLE_COMPROBANTE_PAGO
 		(ID_COMPROBANTE_PAGO,
		 ID_CONCEPTO_PAGO,
		 MONTO,
		 ESTADO)
		VALUES(@ID_COMPROBANTE_PAGO,
				@ID_CONCEPTO_PAGO,
				@MONTO,
				1)
END 
GO
/****** Object:  StoredProcedure [dbo].[p_FLUJO_COMPROBANTE_ListarPaginado]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_FLUJO_COMPROBANTE_ListarPaginado]
 @ID_COMPROBANTE INT
,@PAGENUMBER INT      
,@PAGESIZE INT      
AS      
BEGIN    
/***************************************      
*Descripción: Lista de forma paginada el flujo de los comprobantes    
*Fecha Creación: 08/10/2020   
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
 DECLARE @TOTAL INT=0     
 --NRO TOTAL RE REGISTROS    
 SELECT  @TOTAL=COUNT(1)     
 FROM DAT_ENVIO_COMPROBANTE
					UNPIVOT ( FECHA_ESTADO FOR [FECHA] IN ([FECHA_ENVIO], [FECHA_RECEPCION]) )AS C
	   WHERE C.ID_COMPROBANTE_PAGO = @ID_COMPROBANTE
 
  IF(@PAGESIZE=0)
	SET @PAGESIZE=@TOTAL    
 
 --PAGINADO    
 SELECT TOP (@PAGESIZE)      
	@TOTAL AS 'total_rows',
	id_comprobante_pago,
	accion,
	destino,
	fecha_estado	    
 FROM(    
	   SELECT     
		ROW_NUMBER()OVER(ORDER BY C.ID_COMPROBANTE_PAGO) AS 'ROW_INDEX',
		C.ID_COMPROBANTE_PAGO,
		CASE FECHA WHEN 'FECHA_ENVIO' THEN 'ENVIO' WHEN 'FECHA_RECEPCION' THEN 'RECEPCION' ELSE '' END ACCION,
		CASE ESTADO_ACTUAL 
			WHEN '0' THEN 'ANULADO' 
			WHEN '1' THEN 'TESORERIA'
			WHEN '2' THEN 'ARCHIVO'
			WHEN '3' THEN 'CONTABILIDAD'
			WHEN '4' THEN 'OGA'
			WHEN '5' THEN 'CAJA'
			ELSE '' 
		END DESTINO,
		C.FECHA_ESTADO
		FROM DAT_ENVIO_COMPROBANTE
					UNPIVOT ( FECHA_ESTADO FOR [FECHA] IN ([FECHA_ENVIO], [FECHA_RECEPCION]) )AS C
	   WHERE C.ID_COMPROBANTE_PAGO = @ID_COMPROBANTE
 )PAG    
 WHERE PAG.ROW_INDEX>(@PAGESIZE*(@PAGENUMBER-1))      
END 
GO
/****** Object:  StoredProcedure [dbo].[p_PRESTAMO_Actualizar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_PRESTAMO_Actualizar]
 @ID_PRESTAMO_COMPROBANTE_PAGO int 
,@ID_COMPROBANTE_PAGO int
--,@USUARIO_PRESTAMO VARCHAR(20)=NULL
--,@USUARIO_PRESTAMO_CODIGO int
,@FECHA_PRESTAMO DATETIME=NULL
,@FECHA_DEVOLUCION DATETIME=NULL
,@ID_ESTADO_PRESTAMO int
,@DIAS_PRESTAMO int
,@CODIGO_DEPENDENCIA int
,@DOCUMENTO_PRESTAMO VARCHAR(MAX)=NULL
,@OPC VARCHAR(1)
AS      
BEGIN    
/***************************************      
*Descripción: Actualiza la información del prestamo de pago    
*Fecha Creación: 11/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
IF @OPC = 1
BEGIN
 UPDATE DAT_PRESTAMO_COMPROBANTE_PAGO
 	SET ID_COMPROBANTE_PAGO = @ID_COMPROBANTE_PAGO,		
		--USUARIO_PRESTAMO = @USUARIO_PRESTAMO,
		--USUARIO_PRESTAMO_CODIGO = @USUARIO_PRESTAMO_CODIGO,
		FECHA_PRESTAMO = @FECHA_PRESTAMO,
		FECHA_DEVOLUCION = @FECHA_DEVOLUCION,
		ID_ESTADO_PRESTAMO = @ID_ESTADO_PRESTAMO,
		DIAS_PRESTAMO = @DIAS_PRESTAMO,
		CODIGO_OFICINA = @CODIGO_DEPENDENCIA,
		DOCUMENTO_PRESTAMO = @DOCUMENTO_PRESTAMO
		--ESTADO = 1,
		WHERE ID_PRESTAMO_COMPROBANTE_PAGO = @ID_PRESTAMO_COMPROBANTE_PAGO
END

IF @OPC = 2 --Anular prestamo
BEGIN
 UPDATE DAT_PRESTAMO_COMPROBANTE_PAGO
 	SET ESTADO = '0'
		WHERE ID_PRESTAMO_COMPROBANTE_PAGO = @ID_PRESTAMO_COMPROBANTE_PAGO
END

END 
GO
/****** Object:  StoredProcedure [dbo].[p_PRESTAMO_Busqueda_Reporte]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_PRESTAMO_Busqueda_Reporte]
 @ID_PRESTAMO_COMPROBANTE_PAGO int
,@ID_COMPROBANTE_PAGO int
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
,@CODIGO_OFICINA int
,@ID_ESTADO_PRESTAMO int
,@NRO_CP VARCHAR(255)=NULL    
AS      
BEGIN    
/***************************************      
*Descripción: Reporte de prestamos de comprobantes de pago
*Fecha Creación: 04/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/    
	 IF (@ID_PRESTAMO_COMPROBANTE_PAGO=-1)
		SET @ID_PRESTAMO_COMPROBANTE_PAGO=NULL
     IF (@ID_COMPROBANTE_PAGO=-1)
		SET @ID_COMPROBANTE_PAGO=NULL	 
	 IF (@FECHA_INICIO='01/01/1900')
		SET @FECHA_INICIO=NULL
	 IF (@FECHA_FIN='01/01/1900')
		SET @FECHA_FIN=NULL
	 IF (@CODIGO_OFICINA=-1)
		SET @CODIGO_OFICINA=NULL
	 IF (@ID_ESTADO_PRESTAMO=-1)
		SET @ID_ESTADO_PRESTAMO=NULL
	 IF (@NRO_CP=-1)
		SET @NRO_CP=NULL

 	   SELECT     
		C.ID_PRESTAMO_COMPROBANTE_PAGO,
		C.ID_COMPROBANTE_PAGO,
		--C.USUARIO_PRESTAMO,
		D.DEPENDENCIA,
		C.CODIGO_OFICINA,		
		C.FECHA_PRESTAMO,
		C.FECHA_DEVOLUCION,
		C.ESTADO,
		C.ID_ESTADO_PRESTAMO,
		E.DES_ESTADO_PRESTAMO,
		E.COD_ESTADO_PRESTAMO,
		C.DIAS_PRESTAMO,
		P.NUMERO_COMPROBANTE_PAGO,
		P.FECHA_REGISTRO
	   FROM DAT_PRESTAMO_COMPROBANTE_PAGO C
	   INNER JOIN DAT_COMPROBANTE_PAGO P ON C.ID_COMPROBANTE_PAGO = P.ID_COMPROBANTE_PAGO
	   INNER JOIN CAT_ESTADO_PRESTAMO E ON C.ID_ESTADO_PRESTAMO = E.ID_ESTADO_PRESTAMO
	   INNER JOIN MAE_DEPENDENCIA D ON C.CODIGO_OFICINA = D.CODIGO_DEPENDENCIA
		WHERE     
		 --(@ID_PRESTAMO_COMPROBANTE_PAGO IS NULL OR C.ID_PRESTAMO_COMPROBANTE_PAGO=@ID_PRESTAMO_COMPROBANTE_PAGO)  
		 (@NRO_CP IS NULL OR P.NUMERO_COMPROBANTE_PAGO=@NRO_CP)   
    AND (@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
	AND (@CODIGO_OFICINA IS NULL OR C.CODIGO_OFICINA = @CODIGO_OFICINA)
	AND (@FECHA_INICIO IS NULL OR C.FECHA_PRESTAMO>=@FECHA_INICIO)
	AND (@FECHA_FIN IS NULL OR C.FECHA_PRESTAMO<=@FECHA_FIN)
	AND (@ID_ESTADO_PRESTAMO IS NULL OR C.ID_ESTADO_PRESTAMO = @ID_ESTADO_PRESTAMO)
	AND (C.ESTADO IN ('1'))   
END 
GO
/****** Object:  StoredProcedure [dbo].[p_PRESTAMO_ListarPaginado]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_PRESTAMO_ListarPaginado]
 @ID_PRESTAMO_COMPROBANTE_PAGO int
,@ID_COMPROBANTE_PAGO int
,@FECHA_INICIO DATETIME
,@FECHA_FIN DATETIME
--,@USUARIO_PRESTAMO int
,@CODIGO_DEPENDENCIA int
,@ID_ESTADO_PRESTAMO int
,@NRO_CP VARCHAR(255)=NULL
,@PAGENUMBER INT      
,@PAGESIZE INT      
AS      
BEGIN    
/***************************************      
*Descripción: Lista de forma paginada los préstamos de los comprobantes    
*Fecha Creación: 24/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
 DECLARE @TOTAL INT=0     
 --NRO TOTAL RE REGISTROS    
 SELECT  @TOTAL=COUNT(1)     
 FROM DAT_PRESTAMO_COMPROBANTE_PAGO C
 INNER JOIN DAT_COMPROBANTE_PAGO P ON C.ID_COMPROBANTE_PAGO = P.ID_COMPROBANTE_PAGO
 INNER JOIN CAT_ESTADO_PRESTAMO E ON C.ID_ESTADO_PRESTAMO = E.ID_ESTADO_PRESTAMO
 --INNER JOIN MAE_TRABAJADOR T ON C.USUARIO_PRESTAMO_CODIGO = T.CODIGO_TRABAJADOR
 INNER JOIN MAE_DEPENDENCIA D ON C.CODIGO_OFICINA = D.CODIGO_DEPENDENCIA
 WHERE
  (@ID_PRESTAMO_COMPROBANTE_PAGO IS NULL OR C.ID_PRESTAMO_COMPROBANTE_PAGO=@ID_PRESTAMO_COMPROBANTE_PAGO)     
    AND (@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
	AND (@NRO_CP IS NULL OR P.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
	--AND (@USUARIO_PRESTAMO IS NULL OR C.USUARIO_PRESTAMO_CODIGO = @USUARIO_PRESTAMO)
	AND (@FECHA_INICIO IS NULL OR C.FECHA_PRESTAMO>=@FECHA_INICIO)
	AND (@FECHA_FIN IS NULL OR C.FECHA_PRESTAMO<=@FECHA_FIN)
	AND (@ID_ESTADO_PRESTAMO IS NULL OR C.ID_ESTADO_PRESTAMO = @ID_ESTADO_PRESTAMO)
	AND (@CODIGO_DEPENDENCIA IS NULL OR D.CODIGO_DEPENDENCIA = @CODIGO_DEPENDENCIA)
	--AND (C.ESTADO IN ('1'))

  IF(@PAGESIZE=0)
	SET @PAGESIZE=@TOTAL    
     

 --PAGINADO    
 SELECT TOP (@PAGESIZE)      
	@TOTAL AS 'total_rows',
	id_prestamo_comprobante_pago,
	id_comprobante_pago,
	--usuario_prestamo,
	--usuario_prestamo_codigo,
	fecha_prestamo,
	fecha_devolucion,
	estado,
	id_estado_prestamo,
	des_estado_prestamo,
	dias_prestamo,
	dias_en_prestamo,
	codigo_dependencia,
	dependencia,
	documento_prestamo,
	numero_comprobante_pago,
	fecha_registro,
	anio
 FROM(    
	   SELECT     
		ROW_NUMBER()OVER(ORDER BY C.ID_COMPROBANTE_PAGO) AS 'ROW_INDEX',
		C.ID_PRESTAMO_COMPROBANTE_PAGO,
		C.ID_COMPROBANTE_PAGO,
		--C.USUARIO_PRESTAMO,
		--T.NOMBRES USUARIO_PRESTAMO,
		--C.USUARIO_PRESTAMO_CODIGO USUARIO_PRESTAMO_CODIGO,		
		C.FECHA_PRESTAMO,
		C.FECHA_DEVOLUCION,
		C.ESTADO,
		C.ID_ESTADO_PRESTAMO,
		CASE C.ESTADO WHEN '0' THEN 'ANULADO' ELSE E.DES_ESTADO_PRESTAMO END des_estado_prestamo,
		E.COD_ESTADO_PRESTAMO,
		C.DIAS_PRESTAMO,
		datediff(day, fecha_prestamo, convert(date, getdate())) DIAS_EN_PRESTAMO,
		D.CODIGO_DEPENDENCIA,
		D.DEPENDENCIA,
		DOCUMENTO_PRESTAMO,
		p.NUMERO_COMPROBANTE_PAGO,
		P.FECHA_REGISTRO,
		year(P.FECHA_REGISTRO) ANIO
	   FROM DAT_PRESTAMO_COMPROBANTE_PAGO C
	   INNER JOIN DAT_COMPROBANTE_PAGO P ON C.ID_COMPROBANTE_PAGO = P.ID_COMPROBANTE_PAGO
	   INNER JOIN CAT_ESTADO_PRESTAMO E ON C.ID_ESTADO_PRESTAMO = E.ID_ESTADO_PRESTAMO
	   --INNER JOIN MAE_TRABAJADOR T ON C.USUARIO_PRESTAMO_CODIGO = T.CODIGO_TRABAJADOR
	   INNER JOIN MAE_DEPENDENCIA D ON C.CODIGO_OFICINA = D.CODIGO_DEPENDENCIA
		WHERE     
		 (@ID_PRESTAMO_COMPROBANTE_PAGO IS NULL OR C.ID_PRESTAMO_COMPROBANTE_PAGO=@ID_PRESTAMO_COMPROBANTE_PAGO)     
    AND (@ID_COMPROBANTE_PAGO IS NULL OR C.ID_COMPROBANTE_PAGO=@ID_COMPROBANTE_PAGO)
	AND (@NRO_CP IS NULL OR P.NUMERO_COMPROBANTE_PAGO=@NRO_CP)
	--AND (@USUARIO_PRESTAMO IS NULL OR C.USUARIO_PRESTAMO_CODIGO = @USUARIO_PRESTAMO)
	AND (@FECHA_INICIO IS NULL OR C.FECHA_PRESTAMO>=@FECHA_INICIO)
	AND (@FECHA_FIN IS NULL OR C.FECHA_PRESTAMO<=@FECHA_FIN)
	AND (@ID_ESTADO_PRESTAMO IS NULL OR C.ID_ESTADO_PRESTAMO = @ID_ESTADO_PRESTAMO)
	AND (@CODIGO_DEPENDENCIA IS NULL OR D.CODIGO_DEPENDENCIA = @CODIGO_DEPENDENCIA)
	--AND (C.ESTADO IN ('1'))
    
 )PAG    
 WHERE PAG.ROW_INDEX>(@PAGESIZE*(@PAGENUMBER-1))      
END 
GO
/****** Object:  StoredProcedure [dbo].[p_PRESTAMO_Registrar]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_PRESTAMO_Registrar]
 @NRO_CP int,
 @ANIO int,
 --@ID_COMPROBANTE_PAGO int,
 --@USUARIO_PRESTAMO VARCHAR(20),
 --@USUARIO_PRESTAMO_CODIGO int,
 @FECHA_PRESTAMO DATETIME,
 @FECHA_DEVOLUCION DATETIME,
 @ID_ESTADO_PRESTAMO int,
 @DIAS_PRESTAMO int,
 @CODIGO_DEPENDENCIA int,
 @DOCUMENTO_PRESTAMO VARCHAR(MAX)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Registra la información del comprobante de pago    
*Fecha Creación: 12/12/2019    
*Fecha Modificación:       
*Parámetros:    
*Autor: David Chirinos      
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
DECLARE @idCP INT=0

 SELECT @idCP = ID_COMPROBANTE_PAGO FROM DAT_COMPROBANTE_PAGO WHERE NUMERO_COMPROBANTE_PAGO = @NRO_CP AND year(FECHA_REGISTRO) = @ANIO

 INSERT INTO DAT_PRESTAMO_COMPROBANTE_PAGO
 		(ID_COMPROBANTE_PAGO,
		 --USUARIO_PRESTAMO,
		 --USUARIO_PRESTAMO_CODIGO,
		 FECHA_PRESTAMO,
		 FECHA_DEVOLUCION,
		 ID_ESTADO_PRESTAMO,
		 DIAS_PRESTAMO,
		 CODIGO_OFICINA,
		 ESTADO,
		 DOCUMENTO_PRESTAMO)
		VALUES(@idCP,
				 --@USUARIO_PRESTAMO,
				 --@USUARIO_PRESTAMO_CODIGO,
				 @FECHA_PRESTAMO,
				 @FECHA_DEVOLUCION,
				 @ID_ESTADO_PRESTAMO,
				 @DIAS_PRESTAMO,
				 @CODIGO_DEPENDENCIA,
				 1,
				 @DOCUMENTO_PRESTAMO)
END 
GO
/****** Object:  StoredProcedure [dbo].[p_SITRADOC_ObtieneIdDocumentoPorExpediente]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_SITRADOC_ObtieneIdDocumentoPorExpediente]
@EXPEDIENTE_SITRADOC  VARCHAR(50)=NULL
AS      
BEGIN    
/***************************************      
*Descripción: Obtiene id_documento de una hoja de tramite
*Fecha Creación: 12/04/2024    
*Fecha Modificación:       
*Parámetros:    
*Test: EXEC [dbo].[p_SITRADOC_ObtieneIdDocumentoPorExpediente] '00003680-2024'
       EXEC [dbo].[p_SITRADOC_ObtieneIdDocumentoPorExpediente] '00023419-2022'
*Autor: Miguel Atarama     
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
DECLARE @ID_DOCUMENTO INT;
 

 SELECT @ID_DOCUMENTO = ID_DOCUMENTO FROM [dbo].[SYN_DAT_TRAMITEWEB_DOCUMENTO] WHERE num_tram_documentario = @EXPEDIENTE_SITRADOC
 SELECT ISNULL(@ID_DOCUMENTO,0) as id_documento;


END 
GO
/****** Object:  StoredProcedure [dbo].[p_SITRADOC_ValidaExpediente]    Script Date: 14/05/2024 11:31:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_SITRADOC_ValidaExpediente]
@EXPEDIENTE_SITRADOC  VARCHAR(30)=NULL,
@TIPO VARCHAR(1),
@CODDEP INT,
@CODIGO_TRABAJADOR INT = NULL
AS      
BEGIN    
/***************************************      
*Descripción: Valida si existe el expediente en SITRADOC   
*Fecha Creación: 12/04/2024    
*Fecha Modificación:       
*Parámetros:    
*Test: 
	   EXEC [dbo].[p_SITRADOC_ValidaExpediente] '00000323-2021','I',5, NULL
	   EXEC [dbo].[p_SITRADOC_ValidaExpediente] '00000323-2021','I',13, NULL
	   EXEC [dbo].[p_SITRADOC_ValidaExpediente] '00000323-2021','I',1, NULL
	   EXEC [dbo].[p_SITRADOC_ValidaExpediente] '00000087-2024','I',45,NULL

*Autor: Miguel Atarama     
*Versión: Beta      
*Cambios Importantes:        
******************************************/      
     
DECLARE @ID_DOCUMENTO INT;
 
exec @ID_DOCUMENTO = SYN_FN_DEVOLVER_ID_HOJA_TRAMITE @EXPEDIENTE_SITRADOC, @TIPO, @CODDEP, null
select @ID_DOCUMENTO AS id_documento



END 
GO
